<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- Alias 설정 -->
    <typeAliases>
        <typeAlias alias="article" type="com.eightbit.entity.article.Article" />
        <typeAlias alias="user"  type="com.eightbit.entity.user.User" />
        <typeAlias alias="temp" type="com.eightbit.entity.email.Temp"/>
        <typeAlias alias="phone" type="com.eightbit.entity.phone.Phone"/>
        <typeAlias alias="comment" type="com.eightbit.entity.comment.Comment"/>
        <typeAlias alias="uploadFile" type="com.eightbit.entity.file.UploadFile"/>
    </typeAliases>


    <!-- Sql Mapper 설정 -->
</configuration>